.groups-page 
  position: relative
  width: 100%
  padding: 15px
  .groups-form 
    margin-top: 20px
  .groups-list
    display: flex
    flex-direction: column
    &__item 
      border-top: 1px solid #00000021
      font-size: 18px
      padding: 20px
      width: 400px
      &:hover 
        background-color: #00000021
  h1 
    margin: 0
